main {

  height: 100%;
  min-height: 545px;
  width: 375px;
  background-color: #E6E6E6;

}

div.grid-pesquisa {

  display: grid;

  grid-template-columns: 50px 50px;
  column-gap: 0px;

}

div.grid-pesquisa > p {

  padding-top: 6px;
  font-size: 20px;
  color: #707070;

}

div.grid-nav {

  display: grid;

  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;

}

input#pesquisa {

  background-color: white;
  width: 140px;
  height: 38px;

  border-radius: 15px;
  border: 2px solid #707070;

  text-align: left;
  font-size: 16px;
  padding-left: 15px;

}

button.botao-pequeno{

  background-color: white;
  width: 43px;
  height: 41px;
  border-radius: 10px;
  border: 2px solid #707070;

}

.botao-pequeno:hover {

  background-color: #ebebeb;
  transition-duration: 0.2s;
  border-color: #00CC00;
  cursor: pointer;

}

.botao-pequeno:hover #reducedIcon{

  color: #00CC00;
  transition-duration: 0.2s;

}

.botao-pequeno:active { background-color: #b9b9b9; }

.tabela {

  width: 350px;
  height: 60px;

}

.editar {

  background-color: white;
  width: 43px;
  height: 41px;
  border-radius: 10px;
  border: 2px solid #707070;

}


.editar:hover {

  background-color: #ebebeb;
  transition-duration: 0.2s;
  border-color: #cc0000;
  cursor: pointer;

}

.editar:hover #reducedIcon{

  color: #cc0000;
  transition-duration: 0.2s;

}

button.btn-deletar {

  margin-left: 70px;
  height: 30px;
  width: 235px;
  border: 2px solid #093902;
  border-radius: 10px;
  color: white;
  background-color: #00CC00;
  text-align: center;

}

.btn-deletar:hover { background-color: #00aa00; }

.btn-deletar:active { background-color: #b9b9b9; border-color: #707070; }

button.btn-deletar:disabled {

  background-color: #b9b9b9;
  border-color: #707070;
  cursor: not-allowed;

}

section.produto {

  background-color: #093902;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;

}

th.cabecalho {

  width: 350px;
  background-color: #0D4E03;
  color: white;

}

th#canto { border-radius: 5px 5px 0px 0px; }

td.conteudo { background-color: white; }

td#canto-esquerdo { border-bottom-left-radius: 5px; }

td#canto-direito { border-bottom-right-radius: 5px; }

div.grid-alter {

  display: grid;
  grid-template-columns: 50px 1fr 50px;

}

input#alterCheck {

  width: 20px;
  height: 18px;
  border: 1px solid #707070;
  cursor: pointer;

}

#alterIcon {

  font-size: 19px;
  cursor: pointer;

}
