<main>
  <nav>
    <div class="grid-nav">
      <div class="grande"><input type="text" name="pesquisar" id="pesquisa" placeholder="Pesquisar"></div>
      <button class="botao-pequeno">
        <i id="reducedIcon" class="fa fa-filter fa-3x" aria-hidden="true"></i>
      </button>
      <button class="botao-pequeno">
        <i id="reducedIcon" class="fa fa-pencil fa-3x" aria-hidden="true"></i>
      </button>
      <button class="botao-pequeno" id="adicionar" (click)="exibirAdicionar()">
        <i id="reducedIcon" class="fa fa-plus fa-3x" aria-hidden="true"></i>
      </button>
      <button class="botao-pequeno">
        <i id="reducedIcon" class="fa fa-cart-arrow-down fa-3x" aria-hidden="true"></i>
      </button>
    </div>
  </nav>
  <section class="produto" *ngFor="let produto of produtos">
      <table class="tabela">
        <thead>
          <th class="cabecalho" id="canto">Nome do produto</th>
        </thead>
        <tbody>
          <td class="conteudo">{{produto?.nome}}</td>
        </tbody>
      </table>
      <table class="tabela">
        <thead>
          <th class="cabecalho">Quantidade</th>
          <th class="cabecalho">Gênero</th>
          <th class="cabecalho">Validade</th>
        </thead>
        <tbody>
          <td class="conteudo" id="canto-esquerdo">{{produto?.quantidade}}</td>
          <td class="conteudo">{{produto?.genero}}</td>
          <td class="conteudo" id="canto-direito">{{produto?.validade | date: 'shortDate'}}</td>
        </tbody>
      </table>
  </section>
</main>
