<main>
  <nav>
    <div class="grid-nav">
      <div class="grande">
        <div class="grid-pesquisa">
          <i id="reducedIcon" class="fa fa-search fa-3x" aria-hidden="true"></i>
          <p>Pesquisar</p>
        </div>
      </div>
      <div class="pequena">
        <i id="reducedIcon" class="fa fa-plus fa-3x" aria-hidden="true"></i>
      </div>
      <div class="pequena">
        <i id="reducedIcon" class="fa fa-pencil fa-3x" aria-hidden="true"></i>
      </div>
      <div class="pequena">
        <i id="reducedIcon" class="fa fa-trash fa-3x" aria-hidden="true"></i>
      </div>
      <div class="pequena">
        <i id="reducedIcon" class="fa fa-cart-arrow-down fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <section>
    <table class="produto">
      <thead>
        <th id="canto">Nome do produto</th>
      </thead>
      <tbody>
        <td>Leite Integral Ninho 500g</td>
      </tbody>
    </table>
    <table class="produto">
      <thead>
        <th>Quantidade</th>
        <th>Gênero</th>
        <th>Validade</th>
      </thead>
      <tbody>
        <td id="canto-esquerdo">720</td>
        <td>Laticínios</td>
        <td id="canto-direito">20/12/2020</td>
      </tbody>
    </table>
  </section>
</main>
