<section>
  <div class="janela-alterar">
    <h1 class="titulo">Alterar</h1>
    <p class="info">Edite os campos abaixo para alterar as informações do produto.</p>
      <form action="">
        <div class="form-alterar">
            <label for="nomeP">Nome:</label>
            <input type="text" name="nome" id="nomeP">
            <label for="desP">Descrição:</label>
            <input type="text" name="descricao" id="desP">
            <label for="generoP">Gênero:</label>
            <select name="genero" id="generoP">
              <option value="void"></option>
              <option value="laticinios">Laticínios</option>
            </select>
            <label for="quantP">Quantidade:</label>
            <input type="number" name="quantidade" id="quantP">
            <label for="dataP">Validade:</label>
            <input type="date" name="dataValidade" id="dataP">
        </div>
        <button class="btn-confirmar">Ok</button>
      </form>
  </div>
</section>
