<section>
  <div class="fundo-blur"></div>
  <div class="janela-alterar">
    <h1 class="titulo">Alterar</h1>
    <p class="info">Edite os campos abaixo para alterar as informações do produto.</p>
      <form action="">
        <div class="form-alterar">
            <label for="nomeP">Nome:</label>
            <input type="text" name="nome" id="nomeP">
            <label for="desP">Descrição:</label>
            <input type="text" name="descricao" id="desP">
            <label for="generoP">Gênero:</label>
            <select name="genero" id="generoP">
              <option value="void"></option>
              <option value="laticinios">Laticínios</option>
            </select>
            <label for="dataP">Validade:</label>
            <input type="date" name="dataValidade" id="dataP">
        </div>
        <div class="alterar-quantidade">
          <h3>Quantidade atual</h3>
          <div class="valor-quantidade">
            <p>720</p>
          </div>
          <button class="btn-quant" id="adicionar">Adicionar</button>
          <button class="btn-quant" id="retirar">Retirar</button>
        </div>
        <button class="btn-confirmar">Salvar</button>
      </form>
  </div>
</section>
