@charset "UTF-08";

nav {

  position: sticky;
  bottom: 0;

  height: 65px;
  width: 375px;

  border-top: 2px solid #707070;
  background-color: #f8f8f8;
  padding-top: 10px;
  text-align: center;

}

div.grid-icones {

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  color: #707070;

}

button.botao-menu {

  border: none;
  background-color: #f8f8f8;

}

.botao-menu > p {

  font-size: 16px;
  color: #707070;

}

.botao-menu:hover #defaultIcon { color: #00CC00; }

.botao-menu:hover p { color: #00CC00; }
